In [1]:
import pandas as pd

In [2]:
jan_2021_df = pd.read_csv('202101-citibike-tripdata.csv')

In [3]:
jan_2021_df.tail(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1095341,569,2021-01-31 23:54:00.3610,2021-02-01 00:03:29.8190,3300,Prospect Park West & 8 St,40.665147,-73.976376,3395,Henry St & W 9 St,40.676374,-74.003250,47613,Subscriber,1958,1
1095342,1439,2021-01-31 23:55:50.4170,2021-02-01 00:19:49.8980,3081,Graham Ave & Grand St,40.711863,-73.944024,307,Canal St & Rutgers St,40.714275,-73.989900,36798,Subscriber,1988,1
1095343,2619,2021-01-31 23:56:14.9540,2021-02-01 00:39:54.3500,447,8 Ave & W 52 St,40.763707,-73.985162,4058,Madison Av & E 51 St,40.758630,-73.975130,48698,Subscriber,1985,1
1095344,83,2021-01-31 23:59:19.8260,2021-02-01 00:00:43.5840,3462,E 44 St & 2 Ave,40.751184,-73.971387,3462,E 44 St & 2 Ave,40.751184,-73.971387,49619,Subscriber,1969,1
1095345,1313,2021-01-31 23:59:40.4440,2021-02-01 00:21:33.8470,504,1 Ave & E 16 St,40.732219,-73.981656,3687,E 33 St & 1 Ave,40.743227,-73.974498,47863,Subscriber,1990,1

In [4]:
feb_2021_df = pd.read_csv('202102-citibike-tripdata.csv')

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
feb_2021_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
649978,84DA58E73B2DF079,docked_bike,2021-02-12 16:01:17,2021-02-12 16:13:53,Irving Ave & DeKalb Ave,4898.02,Irving Ave & DeKalb Ave,4898.02,40.702700,-73.920950,40.702700,-73.920950,member
649979,3A14299B4F7FA1CF,docked_bike,2021-02-17 18:03:24,2021-02-17 18:06:39,E 47 St & Park Ave,6584.12,E 47 St & Park Ave,6584.12,40.755102,-73.974986,40.755103,-73.974987,member
649980,7B86EE3DC7E026BC,docked_bike,2021-02-28 18:58:31,2021-02-28 19:12:51,Cedar St & Evergreen Ave,4721.01,Cedar St & Evergreen Ave,4721.01,40.696710,-73.928070,40.696710,-73.928070,casual
649981,D665B8623FC01285,docked_bike,2021-02-25 09:00:41,2021-02-25 09:13:56,Bedford Ave & Bergen St,4066.15,Cedar St & Evergreen Ave,4721.01,40.676368,-73.952918,40.696710,-73.928070,casual
649982,08A07BB378B0FE2F,docked_bike,2021-02-08 13:31:57,2021-02-08 13:50:45,Berkeley Pl & 7 Ave,4051.01,Clinton St & Tillary St,4748.07,40.675146,-73.975232,40.696233,-73.991421,member

In [6]:
mar_2021_df = pd.read_csv('202103-citibike-tripdata.csv')

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
mar_2021_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1531089,B6627FFBA8DDC3F1,docked_bike,2021-03-26 17:55:28,2021-03-26 17:59:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531090,D5138F2C68DC6AC2,docked_bike,2021-03-31 14:15:55,2021-03-31 14:30:00,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,member
1531091,02C368DF00ABFF15,docked_bike,2021-03-01 17:51:19,2021-03-01 17:53:25,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531092,DD57BC2F3A6CF619,docked_bike,2021-03-21 21:28:31,2021-03-21 21:31:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531093,B60411FB742A2EA6,docked_bike,2021-03-21 12:31:47,2021-03-21 12:48:27,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,casual

In [8]:
apr_2021_df = pd.read_csv('202104-citibike-tripdata.csv')

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
apr_2021_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2067664,DE4F31703A6FBD72,docked_bike,2021-04-18 15:48:21,2021-04-18 16:03:42,Hudson St & W 13 St,6115.06,Mercer St & Spring St,5532.01,40.740057,-74.005274,40.723627,-73.999496,casual
2067665,391040FC8CAF2601,docked_bike,2021-04-19 19:39:00,2021-04-19 19:55:18,W 87 St & Amsterdam Ave,7458.03,3 Ave & E 62 St,6762.04,40.788390,-73.974700,40.763126,-73.965269,member
2067666,1DB5175D0F873C53,docked_bike,2021-04-21 11:57:03,2021-04-21 12:15:49,E 27 St & 1 Ave,6004.06,3 Ave & E 62 St,6762.04,40.739445,-73.976806,40.763126,-73.965269,member
2067667,3004043A978641B3,docked_bike,2021-04-04 14:41:23,2021-04-04 14:56:46,Myrtle Ave & St Edwards St,4659.02,Brooklyn Bridge Park - Pier 2,4756.04,40.693270,-73.977038,40.698458,-73.997178,member
2067668,E74E90176B0527D8,docked_bike,2021-04-23 18:40:57,2021-04-23 19:22:18,Hudson St & W 13 St,6115.06,W 18 St & 9 Ave,6190.03,40.740057,-74.005274,40.743534,-74.003676,casual

In [18]:
may_2021_df = pd.read_csv('202105-citibike-tripdata.csv')
may_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2724160,766BB4E17F05DBB4,docked_bike,2021-05-26 20:48:14,2021-05-26 21:02:01,W 25 St & 6 Ave,6215.04,10 Ave & W 14 St,6157.04,40.743954,-73.991448,40.741982,-74.008316,member
2724161,3A74372C4A83AF31,docked_bike,2021-05-22 16:28:54,2021-05-22 16:43:55,W 25 St & 6 Ave,6215.04,10 Ave & W 14 St,6157.04,40.743954,-73.991448,40.741982,-74.008316,member
2724162,8FF3997F7C47E8FA,docked_bike,2021-05-12 13:46:29,2021-05-12 13:54:12,E 4 St & 2 Ave,5593.04,Canal St & Rutgers St,5303.08,40.726280,-73.989780,40.714275,-73.989900,member
2724163,FFB1C29E91CC7253,docked_bike,2021-05-08 00:15:34,2021-05-08 00:25:19,Lewis Ave & Decatur St,4237.01,Central Ave & Woodbine St,4632.1,40.681459,-73.934903,40.692960,-73.916050,member
2724164,5B85F1B45289EF30,docked_bike,2021-05-16 20:18:33,2021-05-16 20:31:21,6 Ave & W 33 St,6364.07,E 56 St & 3 Ave,6691.11,40.749012,-73.988483,40.759345,-73.967597,casual

In [19]:
jun_2021_df = pd.read_csv('202106-citibike-tripdata.csv')
jun_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3178076,10227FE55F9A9D9D,classic_bike,2021-06-24 19:04:49,2021-06-24 19:29:13,West St & Chambers St,5329.03,Spruce St & Gold St,5137.13,40.717548,-74.013221,40.710323,-74.004323,casual
3178077,256CAF6CF26AD368,docked_bike,2021-06-14 15:18:43,2021-06-14 15:26:39,W 20 St & 8 Ave,6224.05,W 33 St & 7 Ave,6407.07,40.743453,-74.000040,40.750200,-73.990931,member
3178078,F0A4F19ACDE41D6D,docked_bike,2021-06-18 11:22:59,2021-06-18 11:23:57,W 20 St & 8 Ave,6224.05,W 22 St & 8 Ave,6224.03,40.743453,-74.000040,40.744751,-73.999154,member
3178079,3DEAD34FC758DAEF,docked_bike,2021-06-18 11:31:14,2021-06-18 11:32:25,W 20 St & 8 Ave,6224.05,W 22 St & 8 Ave,6224.03,40.743453,-74.000040,40.744751,-73.999154,member
3178080,7DF49539C7E41D56,docked_bike,2021-06-18 11:18:02,2021-06-18 11:19:39,W 20 St & 8 Ave,6224.05,W 22 St & 8 Ave,6224.03,40.743453,-74.000040,40.744751,-73.999154,member

In [20]:
jul_2021_df = pd.read_csv('202107-citibike-tripdata.csv')
jul_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3084909,A994797D86D51C8B,classic_bike,2021-07-11 18:34:59,2021-07-11 18:48:06,W Broadway & Spring St,5569.06,Forsyth St\t& Grand St,5382.07,40.724947,-74.001659,40.717798,-73.993161,casual
3084910,A698D240CD5F610F,electric_bike,2021-07-20 09:55:53,2021-07-20 10:12:35,Clermont Ave & Park Ave,4692.01,Cleveland Pl & Spring St,5492.05,40.695734,-73.971297,40.722104,-73.997249,casual
3084911,DD610A447B308A9B,classic_bike,2021-07-17 14:13:36,2021-07-17 14:18:13,W Broadway & Spring St,5569.06,Cleveland Pl & Spring St,5492.05,40.724947,-74.001659,40.722104,-73.997249,member
3084912,C84B8012DBC69B8D,classic_bike,2021-07-21 11:49:49,2021-07-21 11:53:19,W Broadway & Spring St,5569.06,Cleveland Pl & Spring St,5492.05,40.724947,-74.001659,40.722104,-73.997249,member
3084913,EBD57E9CD177F7E9,classic_bike,2021-07-19 13:49:22,2021-07-19 13:58:17,W Broadway & Spring St,5569.06,E 12 St & 3 Ave,5788.12,40.724947,-74.001659,40.732233,-73.988900,member

In [21]:
aug_2021_df = pd.read_csv('202108-citibike-tripdata.csv')
aug_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3072828,D71E7184D008A1AB,electric_bike,2021-08-02 23:16:03,2021-08-02 23:26:20,Old Fulton St,4903.08,Commerce St & Van Brunt St,4243.01,40.702772,-73.993836,40.681212,-74.008609,member
3072829,408222EE560304E3,electric_bike,2021-08-01 08:54:37,2021-08-01 09:08:58,Lenox Ave & W 126 St,7720.03,W 84 St & Columbus Ave,7382.04,40.808442,-73.945209,40.785000,-73.972834,member
3072830,B064A53DA07BF57B,electric_bike,2021-08-13 14:53:53,2021-08-13 15:07:33,N 11 St & Kent Ave,5489.04,Powers St & Olive St,5210.01,40.722482,-73.959219,40.713230,-73.938940,casual
3072831,E4BACA85D3C35C69,electric_bike,2021-08-07 17:21:09,2021-08-07 17:42:11,Jackson St & Leonard St,5332.10,7 Ave & Park Pl,4125.07,40.716380,-73.948213,40.677615,-73.973243,casual
3072832,A22594D0C1BA31AE,electric_bike,2021-08-07 20:07:49,2021-08-07 20:13:05,Lenox Ave & W 126 St,7720.03,Amsterdam Ave & W 131 St,7842.16,40.808442,-73.945209,40.816355,-73.954295,casual

In [22]:
sep_2021_df = pd.read_csv('202109-citibike-tripdata.csv')
sep_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3280555,720BBDEE43921F6D,classic_bike,2021-09-21 17:48:25,2021-09-21 18:08:46,E 11 St & 1 Ave,5746.14,Broadway & W 41 St,6560.01,40.729538,-73.984267,40.755136,-73.986580,member
3280556,4ED4E160CC1D1C65,classic_bike,2021-09-11 12:53:06,2021-09-11 13:08:40,3 Ave & E 72 St,7028.04,E 72 St & Park Ave,6998.08,40.769943,-73.960607,40.771183,-73.964094,member
3280557,E924ABF461609933,classic_bike,2021-09-18 13:36:50,2021-09-18 13:39:49,Broadway & W 36 St,6441.01,Broadway & W 41 St,6560.01,40.750977,-73.987654,40.755136,-73.986580,member
3280558,8A768D642836C58A,classic_bike,2021-09-10 23:36:49,2021-09-10 23:56:42,Grand St & Greene St,5500.02,Cherry St,5181.04,40.721700,-74.002381,40.712199,-73.979481,casual
3280559,4262B9EFF8F06C03,classic_bike,2021-09-19 13:20:51,2021-09-19 13:30:10,3 Ave & E 72 St,7028.04,E 88 St & Park Ave,7293.1,40.769943,-73.960607,40.781411,-73.955959,casual

In [23]:
oct_2021_df = pd.read_csv('202110-citibike-tripdata.csv')
oct_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3069230,C881CC5F60F23500,electric_bike,2021-10-12 11:03:12,2021-10-12 11:28:37,MacDougal St & Washington Sq,5797.01,Madison Ave & E 82 St,7188.13,40.732264,-73.998522,40.778131,-73.960694,member
3069231,FFDD8AA265B1C1D2,classic_bike,2021-10-27 15:24:48,2021-10-27 15:32:16,W 36 St & 7 Ave,6483.06,E 32 St & Park Ave,6280.12,40.752149,-73.989539,40.745712,-73.981948,member
3069232,EF4C84FB5CB02D91,classic_bike,2021-10-30 21:23:03,2021-10-30 21:35:16,W 36 St & 7 Ave,6483.06,W 53 St & 10 Ave,6890.01,40.752149,-73.989539,40.766697,-73.990617,member
3069233,7A3DE386CC5B6876,classic_bike,2021-10-31 16:37:03,2021-10-31 16:42:51,5 Ave & E 87 St,7323.09,Madison Ave & E 82 St,7188.13,40.782323,-73.959875,40.778131,-73.960694,member
3069234,7CCA5BC5F10BF7C2,classic_bike,2021-10-11 08:41:40,2021-10-11 08:54:51,Henry St & Degraw St,4380.08,6 St & 7 Ave,3834.1,40.684751,-73.999173,40.668663,-73.979881,member

In [24]:
nov_2021_df = pd.read_csv('202111-citibike-tripdata.csv')
nov_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2159279,BB28CB0B1CA638B6,classic_bike,2021-11-21 11:59:01,2021-11-21 12:02:54,Newtown Ave & 23 St,7026.08,Astoria Park S & Shore Blvd,7159.08,40.771361,-73.924615,40.776700,-73.927631,member
2159280,2A921DB8E292E147,classic_bike,2021-11-12 09:29:41,2021-11-12 09:40:20,Bradhurst Ave & W 148 St,7992.04,Lenox Ave & W 126 St,7720.03,40.825125,-73.941616,40.808442,-73.945209,member
2159281,6DC90A6C6672DA19,classic_bike,2021-11-18 17:36:02,2021-11-18 18:10:08,Murray St & Greenwich St,5288.12,E 51 St & 1 Ave,6532.06,40.714852,-74.011223,40.754557,-73.965930,member
2159282,51FA4277D05D929E,electric_bike,2021-11-13 12:06:53,2021-11-13 12:14:42,Lenox Ave & W 146 St,7910.1,Lenox Ave & W 126 St,7720.03,40.821111,-73.935971,40.808442,-73.945209,casual
2159283,A275533907EE4BD7,electric_bike,2021-11-19 22:11:19,2021-11-19 22:29:10,Atlantic Ave & Fort Greene Pl,4354.07,Old Fulton St,4903.08,40.683826,-73.976323,40.702772,-73.993836,casual

In [25]:
dec_2021_df = pd.read_csv('202112-citibike-tripdata.csv')
dec_2021_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1748282,714D3CCFB28DC79C,classic_bike,2021-12-06 15:33:18,2021-12-06 15:42:18,E 31 St & 3 Ave,6239.08,W 13 St & 5 Ave,5947.04,40.743943,-73.979661,40.735445,-73.994310,member
1748283,1A2F3968E4A735FB,docked_bike,2021-12-11 14:24:00,2021-12-12 13:58:42,MacDougal St & Washington Sq,5797.01,E 2 St & 2 Ave,5593.02,40.732264,-73.998522,40.725029,-73.990697,casual
1748284,1BD68D08120346F9,classic_bike,2021-12-05 14:15:22,2021-12-05 14:23:28,Schermerhorn St & Court St,4565.04,Warren St & Court St,4413.08,40.691029,-73.991834,40.686371,-73.993833,member
1748285,F7D2A9EAE112CF48,classic_bike,2021-12-31 11:22:45,2021-12-31 11:57:19,Emerson Pl & Myrtle Ave,4683.02,4 Ave & 9 St,3955.05,40.693631,-73.962236,40.670513,-73.988766,member
1748286,E97EDE10E6EE672F,electric_bike,2021-12-20 18:08:26,2021-12-20 18:20:36,Lawrence St & Willoughby St,4596.09,Pike St & E Broadway,5270.05,40.692362,-73.986317,40.714067,-73.992939,member

In [26]:
jan_2022_df = pd.read_csv('202201-citibike-tripdata.csv')
jan_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1052413,3A8436E896501EB6,classic_bike,2022-01-09 09:40:49,2022-01-09 09:58:55,27 St & Hunter St,6310.06,Vernon Blvd & 50 Ave,6170.02,40.748500,-73.941275,40.742327,-73.954117,casual
1052414,31EE3AF319AE47D2,classic_bike,2022-01-26 16:11:27,2022-01-26 16:17:20,Monroe St & Bedford Ave,4368.05,Putnam Ave & Throop Ave,4392.04,40.685144,-73.953809,40.685153,-73.941110,casual
1052415,C27D809EC458BE2A,electric_bike,2022-01-20 11:39:41,2022-01-20 11:44:46,E 118 St & 1 Ave,7596.1,Lexington Ave & E 111 St,7567.06,40.797470,-73.935040,40.795412,-73.944123,member
1052416,4968572973DEDCB2,electric_bike,2022-01-18 21:17:11,2022-01-18 21:25:57,Allen St & Hester St,5342.1,1 Ave & E 18 St,5854.09,40.716059,-73.991908,40.733812,-73.980544,member
1052417,B40238814400C8B2,classic_bike,2022-01-22 19:05:54,2022-01-22 19:16:39,Gansevoort St & Hudson St,6072.14,12 Ave & W 40 St,6765.01,40.739448,-74.005070,40.760875,-74.002777,member

In [27]:
feb_2022_df = pd.read_csv('202202-citibike-tripdata.csv')
feb_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1233709,DB7E2CCB36FE2470,classic_bike,2022-02-02 20:20:40,2022-02-02 20:32:36,Columbus Ave & W 95 St,7520.07,E 110 St & Madison Ave,7587.14,40.791956,-73.968087,40.796153,-73.947821,member
1233710,2589BCEF3734CEFA,electric_bike,2022-02-12 18:21:44,2022-02-12 18:30:48,Central Park West & W 85 St,7354.01,E 110 St & Madison Ave,7587.14,40.784760,-73.969862,40.796153,-73.947821,member
1233711,D808B985BB9F9D72,classic_bike,2022-02-26 12:58:46,2022-02-26 13:11:58,Stanton St & Mangin St,5326.06,E 10 St & 2 Ave,5746.02,40.717821,-73.976289,40.729708,-73.986598,casual
1233712,F3CBF555F8561BF0,electric_bike,2022-02-18 11:03:02,2022-02-18 11:06:01,E 11 St & 3 Ave,5788.16,E 10 St & 2 Ave,5746.02,40.731270,-73.988490,40.729708,-73.986598,casual
1233713,2F8F2920C1A9D0E8,electric_bike,2022-02-19 18:11:55,2022-02-19 18:38:39,E 33 St & 5 Ave,6322.01,Mott St & Prince St,5561.04,40.747659,-73.984907,40.723180,-73.994800,casual

In [28]:
mar_2022_df = pd.read_csv('202203-citibike-tripdata.csv')
mar_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1893439,79E49EA8727CA662,classic_bike,2022-03-30 21:12:45,2022-03-30 21:22:15,E 72 St & York Ave,6889.12,E 58 St & 3 Ave,6762.02,40.766638,-73.953483,40.760958,-73.967245,member
1893440,9C4F6A095779AAE2,electric_bike,2022-03-21 09:33:21,2022-03-21 09:39:45,W 48 St & Rockefeller Plaza,6626.11,E 58 St & 3 Ave,6762.02,40.757769,-73.979294,40.760958,-73.967245,member
1893441,C1966A89B5078124,electric_bike,2022-03-04 14:31:36,2022-03-04 14:43:16,Central Park West & W 85 St,7354.01,E 58 St & 3 Ave,6762.02,40.784760,-73.969862,40.760958,-73.967245,member
1893442,A11D1F167EF1B8C6,classic_bike,2022-03-18 18:43:43,2022-03-18 18:53:41,W 56 St & 6 Ave,6809.07,E 58 St & 3 Ave,6762.02,40.763406,-73.977225,40.760958,-73.967245,member
1893443,74A6A40E386BE88F,electric_bike,2022-03-10 17:21:52,2022-03-10 17:29:53,5 Ave & E 72 St,7100.07,E 58 St & 3 Ave,6762.02,40.772828,-73.966853,40.760958,-73.967245,casual

In [29]:
apr_2022_df = pd.read_csv('202204-citibike-tripdata.csv')
apr_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2319608,5EBE9D296B9D3E3C,classic_bike,2022-04-22 13:08:15,2022-04-22 13:29:31,Allen St & Rivington St,5414.06,W 29 St & 9 Ave,6416.06,40.720196,-73.989978,40.750073,-73.998393,member
2319609,B66382DEDA84C464,classic_bike,2022-04-13 17:10:49,2022-04-13 17:26:08,St. Nicholas Terrace & Convent Ave,7937.15,E 138 St & Grand Concourse,7803.08,40.821294,-73.947868,40.813224,-73.930605,member
2319610,9EC4C49BE4CB1A09,classic_bike,2022-04-12 15:58:47,2022-04-12 16:41:17,E 88 St & 1 Ave,7235.13,E 91 St & 2 Ave,7286.01,40.778301,-73.948813,40.781153,-73.949630,member
2319611,C0188AB9FAEAA143,electric_bike,2022-04-28 15:52:49,2022-04-28 16:06:31,W 55 St & 6 Ave,6809.09,E 91 St & 2 Ave,7286.01,40.763189,-73.978434,40.781153,-73.949630,member
2319612,E8C2F305866DF134,electric_bike,2022-04-11 19:55:31,2022-04-11 20:09:19,W 87 St & West End Ave,7484.05,E 91 St & 2 Ave,7286.01,40.789622,-73.977570,40.781153,-73.949630,member

In [30]:
may_2022_df = pd.read_csv('202205-citibike-tripdata.csv')
may_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2940595,6F515775CE3012B9,classic_bike,2022-05-15 07:57:48,2022-05-15 08:12:55,Broadway & W 36 St,6441.01,West End Ave & W 60 St,7059.08,40.750977,-73.987654,40.772370,-73.990050,member
2940596,25F899C46BB26C7D,classic_bike,2022-05-05 18:13:05,2022-05-05 18:20:10,Crescent St & 30 Ave,6958.06,Vernon Blvd & 31 Ave,7003.06,40.768692,-73.924957,40.769247,-73.935450,member
2940597,E9C36AD563030276,classic_bike,2022-05-28 00:12:09,2022-05-28 00:30:00,45 Ave & 21 St,6319.07,Vernon Blvd & 31 Ave,7003.06,40.747371,-73.947773,40.769247,-73.935450,member
2940598,27FA793948D2916A,classic_bike,2022-05-19 13:06:36,2022-05-19 13:18:02,Crescent St & 30 Ave,6958.06,46 St & 28 Ave,6842.02,40.768692,-73.924957,40.763328,-73.908782,member
2940599,7452B0859F68D412,classic_bike,2022-05-09 18:47:28,2022-05-09 18:52:38,W 50 St & 9 Ave,6854.05,West End Ave & W 60 St,7059.08,40.763605,-73.989180,40.772370,-73.990050,member

In [32]:
jun_2022_df = pd.read_csv('202206-citbike-tripdata.csv')
jun_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3432878,52758C21D58728B4,classic_bike,2022-06-25 00:45:19,2022-06-25 00:58:01,Norman St & Wyckoff Ave,4654.01,Grove St & Broadway,4526.01,40.695170,-73.903110,40.690470,-73.923511,casual
3432879,2F2B099B77266BF2,classic_bike,2022-06-21 16:52:08,2022-06-21 17:16:43,Railroad Ave & Kay Ave,4990.02,Grove St & Broadway,4526.01,40.705148,-73.970781,40.690470,-73.923511,member
3432880,AEE172A41A2FDA65,classic_bike,2022-06-29 17:58:20,2022-06-29 18:12:10,Bushwick Ave & Powers St,5250.05,S 4 St & Wythe Ave,5204.05,40.712477,-73.941000,40.712859,-73.965903,member
3432881,3E6A2E15FD49F94E,classic_bike,2022-06-16 19:31:34,2022-06-16 19:42:42,Bushwick Ave & Powers St,5250.05,S 4 St & Wythe Ave,5204.05,40.712477,-73.941000,40.712859,-73.965903,member
3432882,EA18E4BF86FD46F8,classic_bike,2022-06-16 12:15:02,2022-06-16 12:16:40,Broadway & W 51 St,6779.04,8 Ave & W 49 St,6747.07,40.762288,-73.983362,40.761712,-73.986551,member

In [33]:
jul_2022_df = pd.read_csv('202207-citbike-tripdata.csv')
jul_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3497385,EF571F06A5E34311,docked_bike,2022-07-10 14:08:11,2022-07-10 14:36:45,W 106 St & Central Park West,7606.01,Grand Army Plaza & Central Park S,6839.1,40.798186,-73.960591,40.764397,-73.973715,casual
3497386,9F9F55113999F07B,electric_bike,2022-07-27 01:47:52,2022-07-27 02:11:40,Delancey St & Eldridge St,5414.07,Calyer St & Guernsey St,5709.03,40.719383,-73.991479,40.727558,-73.955059,member
3497387,CBB7EF472D45EDAD,classic_bike,2022-07-18 19:35:34,2022-07-18 19:57:15,Grand Concourse & East Mount Eden Ave,8265.09,Weeks Ave & E 175 St,8340.05,40.843043,-73.911753,40.846879,-73.907342,member
3497388,C2176A140EBE4FB5,classic_bike,2022-07-25 08:13:04,2022-07-25 08:58:29,Court St & State St,4488.08,E 53 St & Lexington Ave,6617.09,40.690147,-73.992072,40.758281,-73.970694,member
3497389,405C56C8930284FD,classic_bike,2022-07-08 12:18:47,2022-07-08 12:27:02,W 59 St & 10 Ave,7023.04,Grand Army Plaza & Central Park S,6839.1,40.770513,-73.988038,40.764397,-73.973715,member

In [34]:
aug_2022_df = pd.read_csv('202208-citibike-tripdata.csv')
aug_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3681304,231398EE256269B0,classic_bike,2022-08-17 17:48:50,2022-08-17 18:06:13,27 St & Hunter St,6310.06,E 54 St & 1 Ave,6608.09,40.748500,-73.941275,40.756265,-73.964179,member
3681305,2F9EC3A7F60523B1,classic_bike,2022-08-08 23:02:58,2022-08-08 23:19:10,W 22 St & 10 Ave,6306.06,W 15 St & 6 Ave,5989.02,40.746920,-74.004519,40.738046,-73.996430,member
3681306,094B17D42252E33E,classic_bike,2022-08-27 11:10:59,2022-08-27 11:14:03,27 St & Hunter St,6310.06,11 St & 43 Ave,6438.04,40.748500,-73.941275,40.751907,-73.947912,member
3681307,9CEB6714CBEC7386,classic_bike,2022-08-29 22:55:27,2022-08-29 23:13:10,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729039,-73.994046,40.714275,-73.989900,member
3681308,6F9ADF0B11F82DBE,classic_bike,2022-08-29 13:00:22,2022-08-29 13:10:08,Washington Pl & Broadway,5755.01,Canal St & Rutgers St,5303.08,40.729039,-73.994046,40.714275,-73.989900,member

In [35]:
sep_2022_df = pd.read_csv('202209-citibike-tripdata.csv')
sep_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3507118,991C19F915D01AD4,classic_bike,2022-09-01 09:19:01,2022-09-01 09:42:30,N 15 St & Wythe Ave,5520.09,Lafayette St & E 8 St,5788.13,40.724055,-73.955736,40.730207,-73.991026,member
3507119,B1C2E48F72C8EC15,classic_bike,2022-09-17 15:21:43,2022-09-17 15:59:19,Greenwich St & Perry St,5922.04,Christopher St & Greenwich St,5847.01,40.734980,-74.006970,40.732916,-74.007114,member
3507120,FA6C91DFB348AABA,classic_bike,2022-09-02 15:09:15,2022-09-02 15:11:48,Southern Blvd & E 172 St,8129.02,Freeman St & Southern Blvd,8060.01,40.834124,-73.889550,40.830051,-73.892103,member
3507121,D3C3E8ADF4F913E3,classic_bike,2022-09-24 01:30:53,2022-09-24 01:35:07,5 Ave & E 29 St,6248.06,E 26 St & 3 Ave,6089.11,40.745168,-73.986831,40.740693,-73.981606,member
3507122,83F64750663161E5,classic_bike,2022-09-20 21:23:46,2022-09-20 21:33:12,Mott St & Prince St,5561.04,Lafayette St & E 8 St,5788.13,40.723180,-73.994800,40.730207,-73.991026,member

In [36]:
oct_2022_df = pd.read_csv('202210-citibike-tripdata.csv')
oct_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3021665,EB791C76AD3E012D,classic_bike,2022-10-20 11:13:29,2022-10-20 11:23:26,Clinton St & Union St,4266.03,3 St & 3 Ave,4028.03,40.683116,-73.997853,40.675071,-73.987752,member
3021666,B57BDF2A6FA4BA26,classic_bike,2022-10-10 18:36:52,2022-10-10 18:59:03,E 35 St & Madison Ave,6398.08,Central Park West & W 68 St,7079.06,40.748480,-73.982556,40.773407,-73.977825,member
3021667,412A5ADB8EE05B8D,classic_bike,2022-10-25 18:19:19,2022-10-25 18:35:42,Nassau St\t& Duffield St,4781.05,West St & Liberty St,5184.08,40.698374,-73.983878,40.711444,-74.014847,member
3021668,FB3AA7F68A0489ED,classic_bike,2022-10-30 13:53:08,2022-10-30 13:55:52,21 St & Hoyt Ave S,7126.01,24 Ave & 26 St,7152.1,40.774751,-73.923553,40.774591,-73.918544,member
3021669,91177E95D3937743,classic_bike,2022-10-26 16:56:11,2022-10-26 17:01:28,Park Pl & Church St,5288.08,West St & Liberty St,5184.08,40.713342,-74.009355,40.711444,-74.014847,member

In [37]:
nov_2022_df = pd.read_csv('202211-citibike-tripdata.csv')
nov_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2460100,AF0FE64934F2F2FA,classic_bike,2022-11-12 09:57:24,2022-11-12 10:22:05,E 75 St & 3 Ave,6991.12,12 Ave & W 40 St,6765.01,40.771129,-73.957723,40.760875,-74.002777,casual
2460101,8173C49CE0822847,classic_bike,2022-11-01 16:33:08,2022-11-01 16:42:29,Verona Pl & Fulton St,4124.04,Dean St & Franklin Ave,4107.13,40.680356,-73.947679,40.677592,-73.955637,casual
2460102,E1764A36071338B6,classic_bike,2022-11-24 12:28:59,2022-11-24 12:33:56,30 Ave & 41 St,6812.06,31 St & Newtown Ave,6923.20,40.763422,-73.914142,40.767549,-73.920933,member
2460103,77D09FB5866F29B8,classic_bike,2022-11-08 10:50:13,2022-11-08 11:09:42,Jay St & York St,4895.09,Lincoln Pl & Classon Ave,3960.01,40.701214,-73.986726,40.672168,-73.960900,member
2460104,4BF983641958B6F7,classic_bike,2022-11-13 13:03:13,2022-11-13 13:09:27,Harman St & Seneca Ave,5002.09,Wyckoff Ave & Gates Ave,4847.03,40.705770,-73.912920,40.699871,-73.911719,member

In [38]:
dec_2022_df = pd.read_csv('202212-citibike-tripdata.csv')
dec_2022_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1649647,CB2EE50F60A58C7B,classic_bike,2022-12-12 08:38:46,2022-12-12 08:46:12,E 41 St & Madison Ave (SW corner),6474.12,6 Ave & W 33 St,6364.07,40.752165,-73.979922,40.749013,-73.988484,member
1649648,3C0DF3280FEB1350,classic_bike,2022-12-12 13:06:32,2022-12-12 13:19:58,Peck Slip & South St,5096.12,Vesey St & Church St,5216.06,40.707689,-74.001254,40.712220,-74.010472,member
1649649,B916E63B630D5020,classic_bike,2022-12-18 01:15:22,2022-12-18 01:48:15,E 41 St & Madison Ave (SW corner),6474.12,Lenox Ave & W 111 St,7602.05,40.752399,-73.980150,40.798786,-73.952300,member
1649650,21EAC007BE7D4161,classic_bike,2022-12-08 23:09:54,2022-12-08 23:26:37,W 37 St & 10 Ave,6611.02,W 70 St & Amsterdam Ave,7207.08,40.756604,-73.997901,40.777480,-73.982886,member
1649651,538408C4A16F4415,electric_bike,2022-12-21 07:26:14,2022-12-21 07:31:40,W 37 St & 10 Ave,6611.02,6 Ave & W 33 St,6364.07,40.756604,-73.997901,40.749013,-73.988484,member

In [2]:
jan_2023_df = pd.read_csv('202301-citibike-tripdata.csv')
jan_2023_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1855196,E4317A223A047233,classic_bike,2023-01-02 17:29:12,2023-01-02 18:14:59,Cedar St & Myrtle Ave,4751.01,W 21 St & 6 Ave,6140.05,40.697740,-73.926391,40.741740,-73.994156,member
1855197,ABE3E9D3F081A13E,classic_bike,2023-01-03 17:47:28,2023-01-03 17:52:21,E 115 St & Madison Ave,7599.02,Park Ave & E 124 St,7682.01,40.798944,-73.944846,40.804555,-73.939686,member
1855198,8F1B225FFE447DD6,classic_bike,2023-01-12 20:18:52,2023-01-12 20:21:31,E 14 St & 1 Ave,5779.1,E 12 St & Ave C,5616.08,40.731402,-73.982845,40.727243,-73.976831,member
1855199,A631B3D94A1BBE4F,classic_bike,2023-01-13 00:16:36,2023-01-13 00:26:56,Sullivan Pl & Bedford Ave,3736.04,Kosciuszko St & Nostrand Ave,4519.04,40.664281,-73.957594,40.690725,-73.951335,member
1855200,719C2F8C8D500BA2,electric_bike,2023-01-15 15:57:48,2023-01-15 16:05:26,W Broadway & Spring St,5569.06,W 21 St & 6 Ave,6140.05,40.724947,-74.001659,40.741740,-73.994156,member

In [3]:
feb_2023_df = pd.read_csv('202302-citibike-tripdata.csv')
feb_2023_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1752143,389430A56EA04541,electric_bike,2023-02-21 12:40:49,2023-02-21 12:43:41,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752144,653158DC3395255E,classic_bike,2023-02-14 16:20:36,2023-02-14 17:03:37,W 47 St & 6 Ave,6667.04,W 51 St & 6 Ave,6740.1,40.758397,-73.982550,40.760660,-73.980420,member
1752145,C3707AC98071DDAD,classic_bike,2023-02-11 16:52:16,2023-02-11 17:12:15,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752146,F3A6D114409FA6A1,classic_bike,2023-02-22 19:25:20,2023-02-22 19:28:54,W 22 St & 10 Ave,6306.06,W 22 St & 8 Ave,6224.03,40.746920,-74.004519,40.744751,-73.999154,member
1752147,0F4573E00346E489,classic_bike,2023-02-03 18:54:53,2023-02-03 18:57:54,W 47 St & 6 Ave,6667.04,W 51 St & 6 Ave,6740.1,40.758397,-73.982550,40.760660,-73.980420,member

In [4]:
mar_2023_df = pd.read_csv('202303-citibike-tripdata.csv')
mar_2023_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2194209,57870BEBA3FF73E4,classic_bike,2023-03-31 05:46:55,2023-03-31 05:49:53,11 Ave & W 27 St,6425.04,W 34 St & 11 Ave,6578.01,40.751396,-74.005226,40.755942,-74.002116,member
2194210,4E31529528517CC8,electric_bike,2023-03-16 02:18:25,2023-03-16 02:22:53,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751396,-74.005226,40.756604,-73.997901,member
2194211,CBE65CCA422B3768,classic_bike,2023-03-17 08:38:51,2023-03-17 08:42:12,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751197,-74.005479,40.756604,-73.997901,member
2194212,C6F86C00DD3ABFB0,classic_bike,2023-03-15 19:19:26,2023-03-15 19:32:40,Putnam Ave & Throop Ave,4392.04,Melrose St & Broadway,4801.04,40.685153,-73.941110,40.697481,-73.935877,member
2194213,7C2E424FD54ACAD5,classic_bike,2023-03-29 09:13:23,2023-03-29 09:19:46,11 Ave & W 27 St,6425.04,W 37 St & 10 Ave,6611.02,40.751328,-74.005502,40.756604,-73.997901,member

In [5]:
apr_2023_df = pd.read_csv('202304-citibike-tripdata.csv')
apr_2023_df.tail(5)

c:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2854345,DFC55A165D6269E9,classic_bike,2023-04-02 13:35:16,2023-04-02 13:50:28,DeKalb Ave & Vanderbilt Ave,4461.04,Huron St & Franklin St,5869.04,40.689437,-73.968913,40.732660,-73.958260,member
2854346,4F92053698BB6273,electric_bike,2023-04-04 23:10:58,2023-04-04 23:12:31,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
2854347,260D9EAAC23F4070,classic_bike,2023-04-12 08:28:13,2023-04-12 08:34:35,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member
2854348,45EE681A9B0A8245,classic_bike,2023-04-19 19:30:04,2023-04-19 19:32:30,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
2854349,D6D8FDC7FFFC4D5C,classic_bike,2023-04-05 08:26:20,2023-04-05 08:31:25,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member

In [10]:
feb_to_mar_df = pd.concat([feb_2021_df, mar_2021_df], axis=0)

In [11]:
feb_to_mar_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1531089,B6627FFBA8DDC3F1,docked_bike,2021-03-26 17:55:28,2021-03-26 17:59:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531090,D5138F2C68DC6AC2,docked_bike,2021-03-31 14:15:55,2021-03-31 14:30:00,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,member
1531091,02C368DF00ABFF15,docked_bike,2021-03-01 17:51:19,2021-03-01 17:53:25,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531092,DD57BC2F3A6CF619,docked_bike,2021-03-21 21:28:31,2021-03-21 21:31:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
1531093,B60411FB742A2EA6,docked_bike,2021-03-21 12:31:47,2021-03-21 12:48:27,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,casual

In [12]:
feb_to_mar_df = feb_to_mar_df.reset_index(drop=True)

In [13]:
feb_to_mar_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
2181072,B6627FFBA8DDC3F1,docked_bike,2021-03-26 17:55:28,2021-03-26 17:59:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
2181073,D5138F2C68DC6AC2,docked_bike,2021-03-31 14:15:55,2021-03-31 14:30:00,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,member
2181074,02C368DF00ABFF15,docked_bike,2021-03-01 17:51:19,2021-03-01 17:53:25,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
2181075,DD57BC2F3A6CF619,docked_bike,2021-03-21 21:28:31,2021-03-21 21:31:01,Vernon Blvd & 50 Ave,6170.02,46 Ave & 5 St,6286.02,40.742327,-73.954117,40.74731,-73.95451,member
2181076,B60411FB742A2EA6,docked_bike,2021-03-21 12:31:47,2021-03-21 12:48:27,47 Ave & 31 St,6151.03,46 Ave & 5 St,6286.02,40.743000,-73.935610,40.74731,-73.95451,casual

In [16]:
feb_to_mar_df.to_csv('feb_to_mar_2021.csv', index=False)

In [43]:
feb_to_apr_df = pd.concat([feb_2021_df, mar_2021_df, apr_2021_df], axis=0)
feb_to_apr_df = feb_to_apr_df.reset_index(drop=True)
feb_to_apr_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4248741,DE4F31703A6FBD72,docked_bike,2021-04-18 15:48:21,2021-04-18 16:03:42,Hudson St & W 13 St,6115.06,Mercer St & Spring St,5532.01,40.740057,-74.005274,40.723627,-73.999496,casual
4248742,391040FC8CAF2601,docked_bike,2021-04-19 19:39:00,2021-04-19 19:55:18,W 87 St & Amsterdam Ave,7458.03,3 Ave & E 62 St,6762.04,40.788390,-73.974700,40.763126,-73.965269,member
4248743,1DB5175D0F873C53,docked_bike,2021-04-21 11:57:03,2021-04-21 12:15:49,E 27 St & 1 Ave,6004.06,3 Ave & E 62 St,6762.04,40.739445,-73.976806,40.763126,-73.965269,member
4248744,3004043A978641B3,docked_bike,2021-04-04 14:41:23,2021-04-04 14:56:46,Myrtle Ave & St Edwards St,4659.02,Brooklyn Bridge Park - Pier 2,4756.04,40.693270,-73.977038,40.698458,-73.997178,member
4248745,E74E90176B0527D8,docked_bike,2021-04-23 18:40:57,2021-04-23 19:22:18,Hudson St & W 13 St,6115.06,W 18 St & 9 Ave,6190.03,40.740057,-74.005274,40.743534,-74.003676,casual

In [44]:
feb2021_to_apr2023_df = pd.concat([feb_2021_df, mar_2021_df, apr_2021_df, may_2021_df, jun_2021_df, jul_2021_df,
                           aug_2021_df, sep_2021_df, oct_2021_df, nov_2021_df, dec_2021_df, jan_2022_df,
                           feb_2022_df, mar_2022_df, apr_2022_df, may_2022_df, jun_2022_df, jul_2022_df,
                           aug_2022_df, sep_2022_df, oct_2022_df, nov_2022_df, dec_2022_df, jan_2023_df,
                           feb_2023_df, mar_2023_df, apr_2023_df], axis=0)
feb2021_to_apr2023_df = feb2021_to_apr2023_df.reset_index(drop=True)
feb2021_to_apr2023_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65911934,DFC55A165D6269E9,classic_bike,2023-04-02 13:35:16,2023-04-02 13:50:28,DeKalb Ave & Vanderbilt Ave,4461.04,Huron St & Franklin St,5869.04,40.689437,-73.968913,40.732660,-73.958260,member
65911935,4F92053698BB6273,electric_bike,2023-04-04 23:10:58,2023-04-04 23:12:31,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
65911936,260D9EAAC23F4070,classic_bike,2023-04-12 08:28:13,2023-04-12 08:34:35,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member
65911937,45EE681A9B0A8245,classic_bike,2023-04-19 19:30:04,2023-04-19 19:32:30,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
65911938,D6D8FDC7FFFC4D5C,classic_bike,2023-04-05 08:26:20,2023-04-05 08:31:25,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member

In [46]:
feb2021_to_apr2023_df.to_csv('feb2021_to_apr2023_citibike_tripdata.csv', index=False)

In [6]:
Jan2023_to_apr2023_df = pd.concat([jan_2023_df, feb_2023_df, mar_2023_df, apr_2023_df], axis=0)
Jan2023_to_apr2023_df = Jan2023_to_apr2023_df.reset_index(drop=True)
Jan2023_to_apr2023_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,4A86C1475DCCADA0,classic_bike,2023-01-26 10:53:44,2023-01-26 11:05:17,E 53 St & Madison Ave,6659.03,Columbus Ave & W 72 St,7175.05,40.759724,-73.973664,40.777057,-73.978985,member
1,AE02E1FF7E264874,classic_bike,2023-01-04 11:51:54,2023-01-04 12:07:09,Halsey St & Ralph Ave,4334.02,Clinton Ave & Myrtle Ave,4651.02,40.684970,-73.922755,40.693261,-73.968896,casual
2,D3F9A2A71AD244C6,classic_bike,2023-01-04 17:26:48,2023-01-04 17:43:29,Bank St & Hudson St,5922.08,W 52 St & 11 Ave,6926.01,40.736566,-74.006092,40.767272,-73.993929,casual
3,3D48C6F33AFEF329,classic_bike,2023-01-04 08:31:11,2023-01-04 08:42:12,E 53 St & Madison Ave,6659.03,W 45 St & 8 Ave,6676.02,40.759711,-73.974023,40.759291,-73.988597,member
4,4865926C3D97BA01,electric_bike,2023-01-03 22:15:34,2023-01-03 22:30:35,Frederick Douglass Blvd & W 112 St,7631.23,Central Park S & 6 Ave,6876.04,40.801694,-73.957145,40.765909,-73.976342,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655908,DFC55A165D6269E9,classic_bike,2023-04-02 13:35:16,2023-04-02 13:50:28,DeKalb Ave & Vanderbilt Ave,4461.04,Huron St & Franklin St,5869.04,40.689437,-73.968913,40.732660,-73.958260,member
8655909,4F92053698BB6273,electric_bike,2023-04-04 23:10:58,2023-04-04 23:12:31,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
8655910,260D9EAAC23F4070,classic_bike,2023-04-12 08:28:13,2023-04-12 08:34:35,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member
8655911,45EE681A9B0A8245,classic_bike,2023-04-19 19:30:04,2023-04-19 19:32:30,Madison Ave & E 120 St,7667.04,Mt Morris Park W & W 120 St,7685.14,40.802950,-73.942954,40.804038,-73.945925,member
8655912,D6D8FDC7FFFC4D5C,classic_bike,2023-04-05 08:26:20,2023-04-05 08:31:25,W 17 St & 8 Ave,6148.02,W 25 St & 6 Ave,6215.04,40.741776,-74.001497,40.743954,-73.991449,member

In [8]:
null_values = Jan2023_to_apr2023_df.isnull()

In [9]:
print(null_values)

         ride_id  rideable_type  started_at  ended_at  start_station_name  \
0          False          False       False     False               False
1          False          False       False     False               False
2          False          False       False     False               False
3          False          False       False     False               False
4          False          False       False     False               False
...          ...            ...         ...       ...                 ...
8655908    False          False       False     False               False
8655909    False          False       False     False               False
8655910    False          False       False     False               False
8655911    False          False       False     False               False
8655912    False          False       False     False               False

         start_station_id  end_station_name  end_station_id  start_lat  \
0                   False             False           False      False
1                   False             False           False      False
2                   False             False           False      False
3                   False             False           False      False
4                   False             False           False      False
...                   ...               ...             ...        ...
8655908             False             False           False      False
8655909             False             False           False      False
8655910             False             False           False      False
8655911             False             False           False      False
8655912             False             False           False      False

         start_lng  end_lat  end_lng  member_casual
0            False    False    False          False
1            False    False    False          False
2            False    False    False          False
3            False    False    False          False
4            False    False    False          False
...            ...      ...      ...            ...
8655908      False    False    False          False
8655909      False    False    False          False
8655910      False    False    False          False
8655911      False    False    False          False
8655912      False    False    False          False

[8655913 rows x 13 columns]

In [10]:
# count the number of null values in each column
null_counts = null_values.sum()

# display the null value counts for each column
print(null_counts)

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name      444
start_station_id        444
end_station_name      23063
end_station_id        23063
start_lat                 0
start_lng                 0
end_lat                6107
end_lng                6107
member_casual             0
dtype: int64

In [11]:
Jan2023_to_apr2023_df_clean = Jan2023_to_apr2023_df.dropna()

In [12]:
null_values = Jan2023_to_apr2023_df_clean.isnull()
print(null_values)

         ride_id  rideable_type  started_at  ended_at  start_station_name  \
0          False          False       False     False               False
1          False          False       False     False               False
2          False          False       False     False               False
3          False          False       False     False               False
4          False          False       False     False               False
...          ...            ...         ...       ...                 ...
8655908    False          False       False     False               False
8655909    False          False       False     False               False
8655910    False          False       False     False               False
8655911    False          False       False     False               False
8655912    False          False       False     False               False

         start_station_id  end_station_name  end_station_id  start_lat  \
0                   False             False           False      False
1                   False             False           False      False
2                   False             False           False      False
3                   False             False           False      False
4                   False             False           False      False
...                   ...               ...             ...        ...
8655908             False             False           False      False
8655909             False             False           False      False
8655910             False             False           False      False
8655911             False             False           False      False
8655912             False             False           False      False

         start_lng  end_lat  end_lng  member_casual
0            False    False    False          False
1            False    False    False          False
2            False    False    False          False
3            False    False    False          False
4            False    False    False          False
...            ...      ...      ...            ...
8655908      False    False    False          False
8655909      False    False    False          False
8655910      False    False    False          False
8655911      False    False    False          False
8655912      False    False    False          False

[8632850 rows x 13 columns]

In [13]:
# count the number of null values in each column
null_counts = null_values.sum()

# display the null value counts for each column
print(null_counts)

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [14]:
Jan2023_to_apr2023_df.to_csv('Jan2023_to_apr2023_citibike_tripdata.csv', index=False)

In [15]:
Jan2023_to_apr2023_df_clean.to_csv('Jan2023_to_apr2023_citibike_tripdata_clean.csv', index=False)

In [16]:
jan_2023_df_clean = jan_2023_df.dropna()
feb_2023_df_clean = feb_2023_df.dropna()
mar_2023_df_clean = mar_2023_df.dropna()
apr_2023_df_clean = apr_2023_df.dropna()

In [17]:
jan_2023_df_clean.to_csv('Jan2023_citibike_tripdata_clean.csv', index=False)
feb_2023_df_clean.to_csv('Feb2023_citibike_tripdata_clean.csv', index=False)
mar_2023_df_clean.to_csv('Mar2023_citibike_tripdata_clean.csv', index=False)
apr_2023_df_clean.to_csv('Apr2023_citibike_tripdata_clean.csv', index=False)

In [2]:
jan_2022jc_df = pd.read_csv('JC-202201-citibike-tripdata.csv')
jan_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
26757,439B3B4ADB37F46F,electric_bike,2022-01-03 16:07:27,2022-01-03 16:12:05,Leonard Gordon Park,JC080,Journal Square,JC103,40.74591,-74.057271,40.73367,-74.0625,member
26758,11C0F2F85CBF7623,electric_bike,2022-01-22 20:02:58,2022-01-22 20:07:32,Leonard Gordon Park,JC080,Journal Square,JC103,40.74591,-74.057271,40.73367,-74.0625,member
26759,E77502BB6C6A7ADD,classic_bike,2022-01-26 12:35:21,2022-01-26 12:44:00,Leonard Gordon Park,JC080,Journal Square,JC103,40.74591,-74.057271,40.73367,-74.0625,member
26760,75C57C18EE9980EA,classic_bike,2022-01-28 12:56:34,2022-01-28 13:06:45,Leonard Gordon Park,JC080,Journal Square,JC103,40.74591,-74.057271,40.73367,-74.0625,member
26761,2EC5621EF3DCB2FA,classic_bike,2022-01-31 12:45:16,2022-01-31 12:52:05,Leonard Gordon Park,JC080,Journal Square,JC103,40.74591,-74.057271,40.73367,-74.0625,member

In [3]:
feb_2022jc_df = pd.read_csv('JC-202202-citibike-tripdata.csv')
feb_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
31906,56F2CE737BC48B4F,electric_bike,2022-02-26 22:56:54,2022-02-26 23:43:17,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31907,B9123C9BA1E8A1E0,electric_bike,2022-02-26 22:53:08,2022-02-26 23:43:19,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31908,93421FA350A599A4,electric_bike,2022-02-22 12:38:05,2022-02-22 13:22:14,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31909,92EA21949B94DBE4,classic_bike,2022-02-16 19:20:25,2022-02-17 12:31:04,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31910,BBD984693E611685,classic_bike,2022-02-21 09:36:56,2022-02-21 10:24:35,Bergen Ave & Stegman St,JC108,JC Medical Center,JC011,40.706575,-74.086701,40.716540,-74.049638,member

In [4]:
mar_2022jc_df = pd.read_csv('JC-202203-citibike-tripdata.csv')
mar_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
51666,3A7A3C110A3A3C88,electric_bike,2022-03-03 16:47:15,2022-03-03 16:51:28,Willow Ave & 12 St,HB505,9 St HBLR - Jackson St & 8 St,HB305,40.751867,-74.030377,40.747907,-74.038412,member
51667,36C8F4EE77F2FDD2,classic_bike,2022-03-08 18:02:08,2022-03-08 18:14:41,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,member
51668,B5F6267C3AA0B056,classic_bike,2022-03-07 18:54:55,2022-03-07 19:07:06,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,member
51669,96A4FDC378B5E764,classic_bike,2022-03-19 02:58:42,2022-03-19 03:14:37,Willow Ave & 12 St,HB505,Washington St,JC098,40.751867,-74.030377,40.724294,-74.035483,casual
51670,225672DF871455F8,electric_bike,2022-03-30 14:15:47,2022-03-30 14:20:11,Willow Ave & 12 St,HB505,9 St HBLR - Jackson St & 8 St,HB305,40.751867,-74.030377,40.747907,-74.038412,member

In [5]:
apr_2022jc_df = pd.read_csv('JC-202204-citibike-tripdata.csv')
apr_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
62523,13C1C453508F048A,classic_bike,2022-04-24 12:52:09,2022-04-24 13:06:24,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,9 St HBLR - Jackson St & 8 St,HB305,40.736982,-74.027781,40.747907,-74.038412,member
62524,B7E454B8886D7826,electric_bike,2022-04-30 11:45:56,2022-04-30 11:54:30,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,12 St & Sinatra Dr N,HB201,40.736982,-74.027781,40.750604,-74.024020,member
62525,20D6A9E7C8291984,classic_bike,2022-04-28 14:28:34,2022-04-28 14:41:35,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,member
62526,2AEB863A4F683CAE,electric_bike,2022-04-09 17:37:14,2022-04-09 17:46:45,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bloomfield St & 15 St,HB203,40.736982,-74.027781,40.754530,-74.026580,casual
62527,AB2C885E7051B2D4,classic_bike,2022-04-02 15:54:12,2022-04-02 16:02:53,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Clinton St & 7 St,HB303,40.736982,-74.027781,40.745420,-74.033320,casual

In [6]:
may_2022jc_df = pd.read_csv('JC-202205-citibike-tripdata.csv')
may_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
80477,6099860AF8FAA526,electric_bike,2022-05-18 19:32:32,2022-05-18 19:49:58,Grove St PATH,JC005,Bergen Ave & Stegman St,JC108,40.719586,-74.043117,40.706575,-74.086701,casual
80478,47939F6BE837EA86,electric_bike,2022-05-23 17:30:23,2022-05-23 17:49:30,Marin Light Rail,JC013,Bergen Ave & Stegman St,JC108,40.714584,-74.042817,40.706575,-74.086701,member
80479,AB5BF7F1FDB1178D,electric_bike,2022-05-30 22:49:32,2022-05-30 23:09:59,Warren St,JC006,Bergen Ave & Stegman St,JC108,40.721124,-74.038051,40.706575,-74.086701,casual
80480,D5CB837D520EA8DB,electric_bike,2022-05-18 22:52:08,2022-05-18 23:08:25,Manila & 1st,JC082,Bergen Ave & Stegman St,JC108,40.721651,-74.042884,40.706575,-74.086701,casual
80481,1CCC7CEC382DD1C0,electric_bike,2022-05-19 22:52:26,2022-05-19 23:10:51,Manila & 1st,JC082,Bergen Ave & Stegman St,JC108,40.721651,-74.042884,40.706575,-74.086701,casual

In [7]:
jun_2022jc_df = pd.read_csv('JC-202206-citibike-tripdata.csv')
jun_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
103294,25AD34565A260732,classic_bike,2022-06-17 16:03:36,2022-06-17 16:33:48,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,casual
103295,8A4181FCE9439036,classic_bike,2022-06-25 14:14:26,2022-06-25 14:19:40,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,8 St & Washington St,HB603,40.736982,-74.027781,40.745984,-74.028199,member
103296,28C8501BCB596743,electric_bike,2022-06-04 08:57:04,2022-06-04 09:15:33,Jersey & 6th St,JC027,11 St & Washington St,HB502,40.725289,-74.045572,40.749985,-74.027150,casual
103297,D28575BBFF3A0B57,classic_bike,2022-06-17 06:11:05,2022-06-17 06:21:37,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member
103298,A914FEF9390C201C,electric_bike,2022-06-02 18:15:17,2022-06-02 18:20:22,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,11 St & Washington St,HB502,40.736982,-74.027781,40.749985,-74.027150,member

In [8]:
jul_2022jc_df = pd.read_csv('JC-202207-citbike-tripdata.csv')
jul_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
108497,724215864AE00DDE,classic_bike,2022-07-10 15:03:06,2022-07-10 15:09:38,Southwest Park - Jackson St & Observer Hwy,HB401,Madison St & 10 St,HB503,40.737551,-74.041664,40.749943,-74.035865,member
108498,47844D96219AEC80,classic_bike,2022-07-06 11:58:42,2022-07-06 12:04:45,Southwest Park - Jackson St & Observer Hwy,HB401,Madison St & 10 St,HB503,40.737551,-74.041664,40.749943,-74.035865,casual
108499,A5DAD9319B4394A8,electric_bike,2022-07-20 16:10:54,2022-07-20 16:41:40,Adams St & 11 St,HB507,Madison St & 10 St,HB503,40.750916,-74.033541,40.749943,-74.035865,casual
108500,1438A3D941DD3174,classic_bike,2022-07-15 16:17:36,2022-07-15 16:24:14,Southwest Park - Jackson St & Observer Hwy,HB401,Madison St & 10 St,HB503,40.737551,-74.041664,40.749943,-74.035865,casual
108501,D72C8CA7D49C30AB,electric_bike,2022-07-18 21:24:51,2022-07-18 21:35:41,Southwest Park - Jackson St & Observer Hwy,HB401,Madison St & 10 St,HB503,40.737551,-74.041664,40.749943,-74.035865,casual

In [9]:
aug_2022jc_df = pd.read_csv('JC-202208-citibike-tripdata.csv')
aug_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
115226,D0F075EEE4354A37,electric_bike,2022-08-03 19:00:22,2022-08-03 19:07:13,City Hall - Washington St & 1 St,HB105,11 St & Washington St,HB502,40.737360,-74.030970,40.749985,-74.027150,member
115227,15DE9EFD3E032E69,classic_bike,2022-08-31 18:42:27,2022-08-31 18:47:01,City Hall - Washington St & 1 St,HB105,8 St & Washington St,HB603,40.737360,-74.030970,40.745984,-74.028199,member
115228,899BAFD096248F46,classic_bike,2022-08-24 14:26:28,2022-08-24 14:30:47,City Hall - Washington St & 1 St,HB105,8 St & Washington St,HB603,40.737360,-74.030970,40.745984,-74.028199,member
115229,AB474610295F3330,classic_bike,2022-08-24 18:50:31,2022-08-24 19:01:00,Riverview Park,JC057,11 St & Washington St,HB502,40.744757,-74.043725,40.749985,-74.027150,member
115230,1AC620345E6D2BF7,classic_bike,2022-08-31 08:52:20,2022-08-31 08:56:34,City Hall - Washington St & 1 St,HB105,8 St & Washington St,HB603,40.737360,-74.030970,40.745984,-74.028199,member

In [10]:
sep_2022jc_df = pd.read_csv('JC-202209-citibike-tripdata.csv')
sep_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
104242,914104109C27B9C8,electric_bike,2022-09-09 21:50:46,2022-09-09 22:02:44,Madison St & 1 St,HB402,Columbus Dr at Exchange Pl,JC106,40.738790,-74.039300,40.716870,-74.032810,casual
104243,BF8C9DCD3FE530E7,classic_bike,2022-09-18 17:52:19,2022-09-18 18:05:22,Monmouth and 6th,JC075,Bergen Ave & Stegman St,JC108,40.725604,-74.048829,40.706575,-74.086701,member
104244,F7DCB86572EC4732,electric_bike,2022-09-28 16:46:08,2022-09-28 16:50:46,4 St & Grand St,HB301,Madison St & 10 St,HB503,40.742258,-74.035111,40.749943,-74.035865,member
104245,A552D06A517E37E4,classic_bike,2022-09-27 11:39:59,2022-09-27 11:43:58,4 St & Grand St,HB301,Madison St & 10 St,HB503,40.742258,-74.035111,40.749943,-74.035865,member
104246,CDCAE5569A0464EF,classic_bike,2022-09-02 20:55:22,2022-09-02 21:01:41,4 St & Grand St,HB301,Madison St & 10 St,HB503,40.742258,-74.035111,40.749943,-74.035865,casual

In [11]:
oct_2022jc_df = pd.read_csv('JC-202210-citibike-tripdata.csv')
oct_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
89553,29D7126C0D802E5B,electric_bike,2022-10-08 07:38:41,2022-10-08 07:44:43,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member
89554,D50B41C904A7C5B3,electric_bike,2022-10-27 08:56:15,2022-10-27 09:02:04,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member
89555,B4240A4EEB9DB4D5,classic_bike,2022-10-23 08:28:34,2022-10-23 08:34:12,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754578,-74.026704,40.746413,-74.037977,member
89556,5F76013D50A68AA7,classic_bike,2022-10-12 12:19:26,2022-10-12 12:26:01,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member
89557,D47114548D40A009,classic_bike,2022-10-14 08:46:52,2022-10-14 08:52:54,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754364,-74.026664,40.746413,-74.037977,member

In [12]:
nov_2022jc_df = pd.read_csv('JC-202211-citibike-tripdata.csv')
nov_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
72704,5CD09DFD050326DF,classic_bike,2022-11-04 15:42:11,2022-11-04 15:51:34,Hamilton Park,JC009,Heights Elevator,JC059,40.727480,-74.044215,40.748716,-74.040443,casual
72705,99BEB76F3AF420D6,classic_bike,2022-11-13 11:42:30,2022-11-13 11:57:21,Hamilton Park,JC009,Heights Elevator,JC059,40.727596,-74.044247,40.748716,-74.040443,member
72706,784CC6A8F182DE26,electric_bike,2022-11-05 01:33:31,2022-11-05 01:43:37,Monmouth and 6th,JC075,Heights Elevator,JC059,40.725685,-74.048790,40.748716,-74.040443,member
72707,E3CBD5C6006BE3E2,classic_bike,2022-11-18 19:11:27,2022-11-18 19:27:47,Lafayette Park,JC078,Heights Elevator,JC059,40.713482,-74.062793,40.748716,-74.040443,member
72708,DBDEE1728FAA6730,classic_bike,2022-11-07 17:43:50,2022-11-07 18:00:37,Monmouth and 6th,JC075,Heights Elevator,JC059,40.725685,-74.048790,40.748716,-74.040443,casual

In [13]:
dec_2022jc_df = pd.read_csv('JC-202212-citibike-tripdata.csv')
dec_2022jc_df.tail(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
48580,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
48581,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
48582,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
48583,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
48584,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

In [14]:
Jan2022_to_Dec2022JC_df = pd.concat([jan_2022jc_df, feb_2022jc_df, mar_2022jc_df, apr_2022jc_df, may_2022jc_df,
                                     jun_2022jc_df, jul_2022jc_df, aug_2022jc_df, sep_2022jc_df, oct_2022jc_df,
                                     nov_2022jc_df, dec_2022jc_df], axis=0)
Jan2022_to_Dec2022JC_df = Jan2022_to_Dec2022JC_df.reset_index(drop=True)
Jan2022_to_Dec2022JC_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895480,D438F1622839AC50,classic_bike,2022-12-06 15:43:38,2022-12-06 15:53:57,Dey St,JC065,Riverview Park,JC057,40.737828,-74.067083,40.744319,-74.043991,member
895481,747A63A8E782D171,electric_bike,2022-12-08 08:17:51,2022-12-08 08:23:33,9 St HBLR - Jackson St & 8 St,HB305,City Hall - Washington St & 1 St,HB105,40.747907,-74.038412,40.737360,-74.030970,casual
895482,AE090858CFDE6E82,electric_bike,2022-12-23 14:10:07,2022-12-23 14:14:18,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743140,-74.040041,40.737360,-74.030970,member
895483,B3CC8E70AF4E259C,classic_bike,2022-12-02 04:43:25,2022-12-02 04:46:55,Mama Johnson Field - 4 St & Jackson St,HB404,City Hall - Washington St & 1 St,HB105,40.743135,-74.040080,40.737360,-74.030970,member
895484,176B601F21327350,classic_bike,2022-12-30 14:50:17,2022-12-30 14:55:37,14 St Ferry - 14 St & Shipyard Ln,HB202,City Hall - Washington St & 1 St,HB105,40.752747,-74.024035,40.737360,-74.030970,member

In [15]:
null_values = Jan2022_to_Dec2022JC_df.isnull()
print(null_values)

        ride_id  rideable_type  started_at  ended_at  start_station_name  \
0         False          False       False     False               False
1         False          False       False     False               False
2         False          False       False     False               False
3         False          False       False     False               False
4         False          False       False     False               False
...         ...            ...         ...       ...                 ...
895480    False          False       False     False               False
895481    False          False       False     False               False
895482    False          False       False     False               False
895483    False          False       False     False               False
895484    False          False       False     False               False

        start_station_id  end_station_name  end_station_id  start_lat  \
0                  False             False           False      False
1                  False             False           False      False
2                  False             False           False      False
3                  False             False           False      False
4                  False             False           False      False
...                  ...               ...             ...        ...
895480             False             False           False      False
895481             False             False           False      False
895482             False             False           False      False
895483             False             False           False      False
895484             False             False           False      False

        start_lng  end_lat  end_lng  member_casual
0           False    False    False          False
1           False    False    False          False
2           False    False    False          False
3           False    False    False          False
4           False    False    False          False
...           ...      ...      ...            ...
895480      False    False    False          False
895481      False    False    False          False
895482      False    False    False          False
895483      False    False    False          False
895484      False    False    False          False

[895485 rows x 13 columns]

In [16]:
# count the number of null values in each column
null_counts = null_values.sum()

# display the null value counts for each column
print(null_counts)

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name      10
start_station_id        10
end_station_name      3204
end_station_id        3204
start_lat                0
start_lng                0
end_lat               1970
end_lng               1970
member_casual            0
dtype: int64

In [17]:
Jan2022_to_Dec2022JC_df_clean = Jan2022_to_Dec2022JC_df.dropna()

In [18]:
null_values = Jan2022_to_Dec2022JC_df_clean.isnull()
print(null_values)

        ride_id  rideable_type  started_at  ended_at  start_station_name  \
0         False          False       False     False               False
1         False          False       False     False               False
2         False          False       False     False               False
3         False          False       False     False               False
4         False          False       False     False               False
...         ...            ...         ...       ...                 ...
895480    False          False       False     False               False
895481    False          False       False     False               False
895482    False          False       False     False               False
895483    False          False       False     False               False
895484    False          False       False     False               False

        start_station_id  end_station_name  end_station_id  start_lat  \
0                  False             False           False      False
1                  False             False           False      False
2                  False             False           False      False
3                  False             False           False      False
4                  False             False           False      False
...                  ...               ...             ...        ...
895480             False             False           False      False
895481             False             False           False      False
895482             False             False           False      False
895483             False             False           False      False
895484             False             False           False      False

        start_lng  end_lat  end_lng  member_casual
0           False    False    False          False
1           False    False    False          False
2           False    False    False          False
3           False    False    False          False
4           False    False    False          False
...           ...      ...      ...            ...
895480      False    False    False          False
895481      False    False    False          False
895482      False    False    False          False
895483      False    False    False          False
895484      False    False    False          False

[892281 rows x 13 columns]

In [19]:
# count the number of null values in each column
null_counts = null_values.sum()

# display the null value counts for each column
print(null_counts)

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [22]:
Jan2022_to_Dec2022JC_df_clean.to_csv('JC_Jan2022_to_Dec2022_citibike_tripdata_clean.csv', index=False)